@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}

.font{
  font-family: Hacked,fallback,sans-serif;
}

.black-section{
  background-color: #161617;
}

.white-section{
  position: relative;
}

.danimation{
  transform: rotate(.5turn);
 } 




