@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}

.font{
  font-family: Hacked,fallback,sans-serif;
}

.black-section {
  background-color: #161617;
  height: 550px;
  border-left: 12px solid #3f3f41;
  border-right: 12px solid #3f3f41;
}

.large-font{
  font-size: 50px;
}

.white-section{
  position: relative;
}

.danimation{
  transform: rotate(.5turn);
 } 




