@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Hacked;
  background-color: #191919;
  background-image: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: x-large;
}

header {
  background-color: #202020;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5% 0;
  opacity: 0.8;
}

.main a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.main a img {
  margin: 0% 2%;
}

h1 {
  display: inline;
  margin-left: 0%;
  color: white;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 100px;
  text-size-adjust: auto;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  padding: 0.25px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: hsl(208, 7%, 46%);
}

main {
  /* background-image: url(bg.png);
  background-size: cover; */
}

footer {
  background-color: #f8f9fa;
  padding: 0.5% 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
}

nav ul li::before {
  content: "";
  position: absolute;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: aliceblue;
  transition: width 0.25s ease-out;
  background-image: linear-gradient(to right, white, darkgrey, #28282b);
}

nav ul li:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}
